In [1]:
import pandas as pd
import src.custom_label as custom_label

In [2]:
LABEL_COL = 'category'

In [3]:
df = pd.read_csv('data/bbc-text.csv')
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [4]:
label_encoder = custom_label.CustomLabelEncoder(df[LABEL_COL])

In [5]:
df = custom_label.encode_labels(label_encoder=label_encoder, df=df, label_col=LABEL_COL)
df.head()

   category                                               text
0         4  tv future in the hands of viewers with home th...
1         0  worldcom boss  left books alone  former worldc...
2         3  tigers wary of farrell  gamble  leicester say ...
3         3  yeading face newcastle in fa cup premiership s...
4         1  ocean s twelve raids box office ocean s twelve...

In [6]:
label_encoder.n_classes, label_encoder.get_int2label_dict(), label_encoder.get_label2int_dict()

(5,
 {0: 'business', 1: 'entertainment', 2: 'politics', 3: 'sport', 4: 'tech'},
 {'business': 0, 'entertainment': 1, 'politics': 2, 'sport': 3, 'tech': 4})